<!-- This line extends a base.html file -->
{% extends "base.html" %}
<!-- Title block that displays the title of the page -->
{% block title %}{{ title }}{% endblock %}
<!-- emailjs block -->
{% block emailjs %}
<!-- emailjs script -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<!-- emailjs init function -->
<script type="text/javascript">
  (function () {
    emailjs.init("5ozi6ayyg6gPAPxAQ");
  })();
</script>
<!-- emailjs function to send form and redirect to contact_sent -->
<script type="text/javascript">
  window.onload = function () {
    document.getElementById('contact-form').addEventListener('submit', function (event) {
      event.preventDefault();
      emailjs.sendForm('service_m38yb2j', 'template_ki89pno', this)
        .then(function () {
          console.log('SUCCESSFULLY SENT!');
          window.location.href = "{{ url_for('contact_sent') }}";
        }, function (error) {
          console.log('FAILED TO SEND!', error);
        });
    });
  }
</script>
{% endblock %}
<!-- Header block that displays the header of the page -->
{% block header %}{{ header }}{% endblock %}
<!-- Content block that contains the main content of the page -->
{% block content %}
<!-- Contact form -->
<div class="contact-style">
  <form id="contact-form" class="centered">
    <!-- Name -->
    <div class="mb-3">
      <label for="from_name" class="form-label">Name</label>
      <input type="name" class="form-control" id="from_name" name="from_name" placeholder="Enter Name" required>
    </div>
    <!-- Email address -->
    <div class="mb-3">
      <label for="from_email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="from_email" name="from_email" placeholder="Enter Email Address"
        required>
    </div>
    <!-- Query type -->
    <div class="mb-3">
      <label for="query" class="form-label">Query Type</label>
      <select class="form-select" aria-label="query" id="query" name="query" required>
        <option value="" disabled selected>Select a Query Type</option>
        <option value="Application">Application</option>
        <option value="Recruiter">Recruiter</option>
        <option value="General">General</option>
      </select>
    </div>
    <!-- Message -->
    <div class="mb-3">
      <label for="message" class="form-label">Enter Message Here</label>
      <textarea class="form-control" id="message" rows="3" placeholder="Enter Message Here" name="message"
        required></textarea>
    </div>
    <!-- Send button -->
    <div class="centered">
      <input type="submit" value="Send" class="btn btn-primary" id="contact-send">
    </div>
  </form>
</div>
{% endblock %}