<!-- This line extends a base.html file -->
{% extends "base.html" %}
<!-- Title block that displays the title of the page -->
{% block title %}{{ title }}{% endblock %}
<!-- Header block that displays the header of the page -->
{% block header %}{{ header }}{% endblock %}
<!-- Content block that contains the main content of the page -->
{% block content %}
<!-- About section -->
<section class="centered paragraphs">
  <!-- About section header -->
  <h1>About</h1>
  <!-- About section paragraphs -->
  <p>A Look into a Recruiting Company Focused on Recruiting for AI, Cryptocurrencies, Finance,
    Programming, Project Management, Biotechnology, Data Science, and Cybersecurity Sectors</p>
  <p>Recruitment is an essential function in any organization as it enables companies to attract and hire the best
    talent
    to achieve their goals. In today's rapidly changing business landscape, organizations must keep up with the latest
    trends and technologies to stay competitive. This is particularly true for companies in the AI, Cryptocurrencies,
    Finance, Programming, Project Management, Biotechnology, Data Science, and Cybersecurity sectors. These industries
    are among the most dynamic and fast-paced, with constantly evolving technologies and methodologies. Hence, it is
    essential for companies operating in these sectors to work with recruitment companies that specialize in these
    fields.</p>
  <p>As a recruiting company, our primary goal is to connect companies with the best talent for their needs. We
    specialize in the AI, Cryptocurrencies, Finance, Programming, Project Management, Biotechnology, Data Science, and
    Cybersecurity sectors, providing our clients with a broad range of services, including executive search, contract
    staffing, and temp-to-hire placements. Our team of experienced recruiters has a deep understanding of these
    industries' needs and can identify and attract top talent who possess the necessary skills, experience, and
    expertise.</p>
</section>
<!--Google maps section-->
<section class="centered">
  <!--Google maps section header-->
  <h2>Our Locations</h2>
  <!--Google maps section paragraph-->
  <p>We're located across 5 offices across the globe - you can find our offices in the following locations:</p>
  <!--Google maps div with a the "map" id-->
  <div id="map"></div>
</section>

<!-- Our sectors section -->
<section class="centered">
  <!-- Our sectors section headers-->
  <h2>Our Sectors</h2>
  <h3>We specialise in providing recruitment solutions for the following sectors:</h3>
</section>
<!-- Containers for each sector -->
<div class="container text-center">
  <div class="row">
    {% for image in images %}
    <div class="col-lg-3 col-md-6 col-sm-12 sector">
      <h5>{{ image.img_name }}</h5>
      <img src="{{ image.img_source }}" class="d-block w-100" alt="Image for {{ image.img_name }}">
      <p>{{ image.img_description }}</p>
    </div>
    {% endfor %}
  </div>
</div>

<!--Cards to provide insight and provide links to other pages of the site -->
<section class="centered paragraphs">
  <h2>Our Pages</h2>
  <p>Our pages offer a comprehensive recruitment solution for both job seekers and recruiters in the AI,
    Cryptocurrencies, Finance, Programming, Project Management, Biotechnology, Data Science, and Cybersecurity sectors.
    The applications page allows job seekers to easily find relevant job listings based on their skills, qualifications,
    and preferences. With a user-friendly interface, applicants can quickly filter job listings by title, location,
    industry, and other factors to find the right job for them. The page is updated regularly with the latest job
    listings, and job seekers can sign up for email alerts to stay informed of new opportunities in their chosen fields.
  </p>
</section>
<!-- card-container div -->
<div class="row card-container">
  <!-- Applicants page card -->
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <!-- Applicants page card header-->
        <h5 class="card-title">Applicants Page</h5>
        <!-- Applicants page card paragraph-->
        <p class="card-text">The applications page is a one-stop-shop for job seekers looking for opportunities,
          designed to help job seekers quickly and easily find relevant job listings based on
          their experience and qualifications. The page is regularly updated with the latest job listings and is a
          valuable resource for job seekers looking to break into or
          advance their careers</p>
          <!-- button to applicants page-->
        <a href="{{ url_for('applicants') }}" class="btn btn-success">Applicants Page</a>
      </div>
    </div>
  </div>
  <!-- Recruiters page card -->
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <!-- Applicants page card header-->
        <h5 class="card-title">Recruiters Page</h5>
        <!-- Applicants page card paragraph-->
        <p class="card-text">The recruitment page is a platform designed for recruiters to post job listings and connect
          with top talent. Recruiters can post job listings and once listed, view applicants who have applied for the
          role.
          It offers a broad pool of talent, making it easy for recruiters to find and connect with the right candidates
          for their organizations</p>
          <!-- button to recruiter page-->
        <a href="{{ url_for('recruiter') }}" class="btn btn-warning">Recruiters Page</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<!-- Link to Google Maps API -->
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9c20tdxjnGx_-SxhniUx9Y25igBOcYPM&callback=recruitmentMap">
</script>
{% endblock %}