<!-- This line extends a base.html file -->
{% extends "base.html" %}
<!-- Title block that displays the title of the page -->
{% block title %}{{ title }}{% endblock %}
<!-- Header block that displays the header of the page -->
{% block header %}{{ header }}{% endblock %}
<!-- Content block that contains the main content of the page -->
{% block content %}
<!-- For loop, displaying each application for each vacancy within the database -->

<div class="list-job">
  <a href="{{ url_for('recruiter') }}" class="btn btn-success">Return to Recruiter Page</a>
</div>



<!--Collapsible heading for each listing, containing the following information: job title, salary, location and company name -->
{% for applicant in applicants %}
<h2 class="listing-h2">
  <a class="btn btn-secondary" data-bs-toggle="collapse" href="#recruiter_applicant_collapse_{{ loop.index }}"
    role="button" aria-expanded="false"
    aria-controls="recruiter_applicant_collapse_{{ loop.index }}">{{ applicant.name }} ｜ {{ applicant.phone }} ｜
    {{ applicant.email }} ｜ {{ applicant.experience_level }}</a>
</h2>
<!--Collapsible body, containing all listing information -->
<div class="collapse" id="recruiter_applicant_collapse_{{ loop.index }}">
  <div class="card card-body applicant-details">
    <h3>Name</h3>
    <p>{{ applicant.name }}</p>
    <h3>Phone Number</h3>
    <p>{{ applicant.phone }}</p>
    <h3>Email Address</h3>
    <p>{{ applicant.email }}</p>
    <h3>Experience Level</h3>
    <p>{{ applicant.experience_level }}</p>
    <h3>Personal Statement</h3>
    <p>{{ applicant.personal_statement }}</p>
    <h3>Education</h3>
    <p>{{ applicant.education }}</p>
    <h3>Work Experience</h3>
    <p>{{applicant.work_experience }}</p>
    <div class="anchor-tags">
      <a href="{{ url_for('recruiter_applicant_edit', applicant_id=applicant.id) }}" class="btn btn-warning">Edit
        Application</a>
      <a type="button" class="btn btn-danger" data-bs-toggle="modal"
        data-bs-target="#deleteApplicant{{ loop.index }}">Delete Application</a>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteApplicant{{ loop.index }}" tabindex="-1" aria-labelledby="DeleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="DeleteModalLabel">Delete Listing</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you wish to delete this Applicant?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
        <a href="{{ url_for('recruiter_applicant_delete', applicant_id=applicant.id) }}"
          class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}