/* || General styles */

html {
height: 100%;
width: 100%;
}

/* || Header */


.nav-link, .navbar-brand {
    font-size: 1.5rem;
}

.base_image {
position: relative;
text-align: center;
color: white;
}

.base_central {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: red;
font-size:2rem;
}

.base_image img {
width: 100%;
}

/* || Footer */

.footer-bottom {
background-color: rgba(0, 0, 0, 0.05);
}

.footer-centered {
margin: 20px;
text-align: center;
}

.card-container {
margin: 20px;
}

.main-footer {
    padding-top: 20px;
}

/* || Index Page */


.sector {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 10px;
}

.centered {
    margin: 20px;
text-align: center;

}

.card-body {
    margin: 20px;
    text-align: center;
    }


/* || Typography */

h1,h2,h3,h4,h5,h6,p,a, label {
    font-family: 'Barlow', sans-serif;
}

label {
    font-size: 1.5rem;
}


/* || Typography 
font-family: 'Barlow', sans-serif;
font-family: 'Chivo Mono', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Quantico', sans-serif;
*/


/* || Base Page */
/* || Applicants Page */

.listing-h2 {
    text-align: center;
    margin-top: 20px;
}

.listing-h2 a {
    width: 80%;
}

.anchor {
    width: 80%;
    margin: 0 auto;
}

/* || Applicants Apply Page */

.job-details {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.job-details h2 {
    padding: 20px;
}

.your-details h2 {
    padding: 20px;
}


.your-details {
    text-align: center;
}

::placeholder, select {
    text-align: center; 
 }

.apply-form {
    width: 80%;
    margin: 0 auto;
 }

/* || Applicants Applied Page */

.applied a {
    margin: 10px;
}

/* || Applicants Edit Page */

.your-details input, .your-details textarea {
    text-align: center;
} 


/* || Recruiter Page */

.list-job {
    text-align: center;
    margin-top: 20px;
}


.anchor-tags {
    margin: 10px 0;
}

/* || Recruiter Edit Page */
.recruiter-edit {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.recruiter-edit input,.recruiter-edit textarea {
    text-align: center;
}
/* || Recruiter List Page */

.job-listing{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.job-listing input, .job-listing textarea {
    text-align: center;
}





/* || Recruiter Listed Page */


.applicant-details {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.listed a {
    margin: 10px;
}


/* || Contact Page */

.contact-style {
    width: 80%;
    margin: 0 auto;
}

/* || Contact Sent Page */