/* || General styles */

html {
    height: 100%;
    width: 100%;
}

/* || Typography */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
    font-family: 'Barlow', sans-serif;
}

label {
    font-size: 1.5rem;
}

/* || Header */

.nav-link,
.navbar-brand {
    font-size: 1.5rem;
}

.base_image {
    position: relative;
    text-align: center;
    color: white;
}

.base_central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 2rem;
}

.base_image img {
    width: 100%;
}

/* || Footer */

.footer-bottom {
    background-color: rgba(0, 0, 0, 0.05);
}

.footer-centered {
    margin: 20px;
    text-align: center;
}

.card-container {
    margin: 20px;
}

.main-footer {
    padding-top: 20px;
}

/* || Index Page */

.sector {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 10px;
}

.centered {
    margin: 20px;
    text-align: center;

}

.card-body {
    margin: 20px;
    text-align: center;
}

.paragraphs p {
    width: 80%;
    margin: 0 auto;
}

#map {
    position: relative;
    overflow: hidden;
    height: 50vh;
    width: 85vw;
    margin: 0 auto;
}

/* || Index Page Media Queries */

@media only screen and (max-width: 768px) {
    .paragraphs p {
        width: 90%;
        margin: 0 auto;
    }

    #map {
        position: relative;
        overflow: hidden;
        height: 50vh;
        width: 90vw;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 576px) {
    .paragraphs p {
        width: 95%;
        margin: 0 auto;
    }
}

/* || Applicants Page */

.listing-h2 {
    text-align: center;
    margin-top: 20px;
}

.listing-h2 a {
    width: 80%;
}

.anchor {
    width: 80%;
    margin: 0 auto;
}

/* || Applicants Page Media Queries */

@media only screen and (max-width: 768px) {
    .listing-h2 a {
        width: 90%;
    }

    .anchor {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 576px) {
    .listing-h2 a {
        width: 95%;
    }

    .anchor {
        width: 95%;
        margin: 0 auto;
    }
}

/* || Applicants Apply Page */

.job-details {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.job-details h2 {
    padding: 20px;
}

.your-details h2 {
    padding: 20px;
}


.your-details {
    text-align: center;
}

::placeholder,
select {
    text-align: center;
}

.apply-form {
    width: 80%;
    margin: 0 auto;
}


/* || Applicants Apply Page Media Queries */

@media only screen and (max-width: 768px) {
    .apply-form {
        width: 90%;
        margin: 0 auto;
    }

    .job-details {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 576px) {
    .apply-form {
        width: 95%;
        margin: 0 auto;
    }

    .job-details {
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
}

/* || Applicants Applied Page */

.applied a {
    margin: 10px;
}

/* || Applicants Applied Page Media Queries */

@media only screen and (max-width: 576px) {
    .applied a {
        display: block;
    }

}

/* || Recruiter Page */

.list-job {
    text-align: center;
    margin-top: 20px;
}


.anchor-tags {
    margin: 10px 0;
}

/* || Recruiter Edit Page */
.recruiter-edit {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.recruiter-edit input,
.recruiter-edit textarea {
    text-align: center;
}


/* || Recruiter Edit Page Media Queries */
@media only screen and (max-width: 768px) {
    .recruiter-edit {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .recruiter-edit {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }
}

/* || Recruiter List Page */

.job-listing {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.job-listing input,
.job-listing textarea {
    text-align: center;
}

/* || Recruiter Applicants Edit Page */

.your-details input,
.your-details textarea {
    text-align: center;
}


/* || Recruiter Listed Page */


.applicant-details {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.listed a {
    margin: 10px;
}

/* || Recruiter Listed Page Media Query */

@media only screen and (max-width: 768px) {
    .listed a {
        margin: 10px;
        display: block;
    }
}

/* || Recruiter Applicants Page Media Queries */

@media only screen and (max-width: 768px) {
    .applicant-details {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }


}

@media only screen and (max-width: 576px) {
    .applicant-details {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }

}


/* || Contact Page */

.contact-style {
    width: 80%;
    margin: 0 auto;
}

#contact-send {
    padding: 6px 32px;
}

/* || Contact Sent Page */



@media only screen and (max-width: 768px) {
    .contact-style {
        width: 90%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 576px) {
    .contact-style {
        width: 95%;
        margin: 0 auto;
    }

}