/* || General styles */

html {
height: 100%;
width: 100%;
}

/* || Header */

.base_image {
position: relative;
text-align: center;
color: white;
}

.base_central {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: red;
font-size:2rem;
}

.base_image img {
width: 100%;
}

/* || Footer */

.footer-bottom {
background-color: rgba(0, 0, 0, 0.05);
}

.centered, .card-body {
margin: 20px;
text-align: center;
}

.card-container {
margin: 20px;
}

.main-footer {
    padding-top: 20px;
}

/* || Index Page */
/* || Typography */
/* || Base Page */
/* || Applicants Page */

.listing-h2 {
    text-align: center;
    margin-top: 20px;
}

.listing-anchor {
    width: 90%;
}
/* || Applicants Apply Page */

.job-details {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.job-details h2 {
    padding: 20px;
}

.your-details h2 {
    padding: 20px;
}


.your-details {
    text-align: center;
}

::placeholder, select {
    text-align: center; 
 }

.apply-form {
    width: 90%;
    margin: 0 auto;
 }

.apply-form button {
 padding: 10px 20%;
}

/* || Applicants Applied Page */
/* || Recruiter Page */

.list-job {
    text-align: center;
}

/* || Recruiter Edit Page */
/* || Recruiter List Page */
/* || Recruiter Listed Page */
/* || Contact Page */
/* || Contact Sent Page */