<!-- This line extends a base.html file -->
{% extends "base.html" %}
<!-- Title block that displays the title of the page -->
{% block title %}{{ title }}{% endblock %}
<!-- Header block that displays the header of the page -->
{% block header %}{{ header }}{% endblock %}
<!-- Content block that contains the main content of the page -->
{% block content %}
<h2 class="listing-h2"> <a class="btn btn-primary listing-anchor" data-bs-toggle="collapse" href="#applicants_collapsible" role="button"
  aria-expanded="false" aria-controls="applicants_collapsible">Project Manager ｜ $100,000 ｜London, UK ｜ Google</a></h2>
<!-- Collapsible div, containing further detail about the role, as well as an apply button -->
<div class="collapse" id="applicants_collapsible">
  <div class="card card-body">
    <!-- Job title -->
    <h3>Job Title</h3>
    <p>listing.job_title</p>
    <!-- Salary -->
    <h3>Salary</h3>
    <p>listing.salary</p>
    <!-- Location -->
    <h3>Location</h3>
    <p>listing.location</p>
    <!-- Company name  -->
    <h3>Company Name</h3>
    <p>listing.company</p>
    <!-- Experience Required  -->
    <h3>Experience Required</h3>
    <p>listing.experience_required</p>
    <!-- Job description   -->
    <h3>Job Description</h3>
    <p>listing.job_description</p>
    <!-- Job requirements  -->
    <h3>Job Requirements</h3>
    <p>listing.requirements</p>
    <!--Button to apply for role - a modal is presented when clicked -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#applicants_apply">Apply</button>
  </div>
</div>
<!-- Modal to proceed to application page -->
<div class="modal fade" id="applicants_apply" tabindex="-1" aria-labelledby="applicants_apply" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-header">Apply For This Role</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in quam dolor. Proin sodales, dolor ac
        posuere viverra, lorem dolor vehicula ligula, nec iaculis orci leo nec justo. Curabitur massa arcu, rhoncus
        vitae sodales ac, condimentum in dolor. Sed id purus aliquet, convallis est id, consequat elit. Cras elementum
        risus et posuere sollicitudin. Pellentesque bibendum ex nec nulla auctor condimentum. Suspendisse auctor lectus
        ac hendrerit efficitur. In massa augue, blandit at tortor vitae, dictum porttitor sem. Suspendisse viverra non
        massa ac egestas. In hac habitasse platea dictumst. Vivamus in arcu in nibh lobortis pretium. Vivamus eleifend
        malesuada magna, sed fringilla est. Vestibulum tortor dolor, convallis vitae iaculis vel, porta sagittis ex.
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}