<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base Title</title>
    <!-- Link to bootstrap library -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Link to css file -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <!-- Collapsible -->
        <a class="navbar-brand" href="#">Recruitment Portal</a>
        <!-- Collapsible -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar list items -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <!-- Home -->
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <!-- Applicants -->
            <li class="nav-item">
              <a class="nav-link" href="#">Applicants</a>
            </li>
            <!-- Recruiters -->
            <li class="nav-item">
              <a class="nav-link" href="#">Recruiters</a>
            </li>
            <!-- Contact -->
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <section>
      <!--Google Maps API Section-->
      <h2>Where are these aircraft located?</h2>
      <p>The below map displays the operators of the 6 fighter aircraft listed above. Click onto the markers to learn more:</p>
      <!--Google Maps API-->
      <div id="map"></div>
    </section>  



    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <!-- About column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Company name</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor metus vitae turpis vulputate laoreet. Morbi elit nunc, lobortis vitae diam sit amet, euismod vulputate libero.</p>
            </div>
            <!-- Links column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                Useful Links
              </h6>
              <p>
                <a href="#!" class="text-reset">Home</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Applicants</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Recruiters</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Contact</a>
              </p>
            </div>
            <!-- Contact column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3"></i> 1234567890</p>
              <p><i class="fas fa-envelope me-3"></i>1234567890@example.com</p>
              <p><i class="fas fa-phone me-3"></i> 1234567890</p>
              <p><i class="fas fa-print me-3"></i> 1234567890</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer bottom -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">Lorem Ipsum</div>
    </footer>
    <!-- Link to js file -->
    <script type="text/javascript" src="static/js/main.js"></script>
    <!-- Link to bootstrap library -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>