<!-- This line extends a base.html file -->
{% extends "base.html" %}
<!-- Title block that displays the title of the page -->
{% block title %}{{ title }}{% endblock %}
<!-- Header block that displays the header of the page -->
{% block header %}{{ header }}{% endblock %}
<!-- Content block that contains the main content of the page -->
{% block content %}
<!-- Form to edit listing -->
<form class="col s12" method="POST" action="{{ url_for('recruiter_edit', recruiter_id=recruiter.id) }}">
    <!-- category name -->
    <div class="mb-3">
    <label for="job_title" class="form-label">Job Title</label>
    <input type="text" class="form-control" id="job_title" name="job_title" value="{{ listing.job_title }}" required>
  </div>
  <!-- Salary -->
  <div class="mb-3">
    <label for="salary" class="form-label">Salary</label>
    <input type="text" class="form-control" id="salary" name="salary" value="{{ listing.salary }}" required>
  </div>
  <!-- Location -->
  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input type="text" class="form-control" id="location" name="location" value="{{ listing.location }}" required>
  </div>
  <!-- Company Name -->
  <div class="mb-3">
    <label for="company" class="form-label">Company Name</label>
    <input type="text" class="form-control" id="company" name="company" value="{{ listing.company }}" required>
  </div>
  <!-- Expereince Required -->
  <div class="mb-3">
    <label for="experience_required" class="form-label">Experience Required</label>
    <select class="form-select" aria-label="Default select example" id="experience_required" name="experience_required" value="{{ listing.experience_required }}"
      required>
      <option value="" disabled selected>Select an option</option>
      <option value="1">Up to 1 Year</option>
      <option value="2">1 - 2 Years</option>
      <option value="3">2 - 3 Years</option>
      <option value="4">3 - 4 Years</option>
      <option value="5">4 - 5 Years</option>
      <option value="6">Over 5 Years</option>
    </select>
  </div>
  <!-- Job Description -->
  <div class="mb-3">
    <label for="job_description" class="form-label">Job Description</label>
    <textarea class="form-control" id="job_description" name="job_description" value="{{ listing.job_description }}"
      rows="6" required></textarea>
    <!-- Job Requirements -->
    <div class="mb-3">
      <label for="requirements" class="form-label">Job Requirements</label>
      <textarea class="form-control" id="requirements" name="requirements" value="{{ listing.requirements }}" rows="6"
        required></textarea>
      <!-- Job Benefits -->
    </div>
    <div class="mb-3">
      <label for="benefits" class="form-label">Job Benefits</label>
      <textarea class="form-control" id="benefits" name="benefits" value="{{ listing.benefits }}" rows="6"
        required></textarea>
    </div>
    <!-- Apply button, which opens up a modal -->
  <button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="recruiter_edit">Edit Listing</button>
</form>

{% endblock %}